.video-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.mountain-video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.title-container {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.433);
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 120px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}