/* home page */

.video-container {
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.mountain-video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}


.title-container {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.433);
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
}

.title {
  font-size: 250px;
  padding: 10px;
  border: none;
  margin: 0px;
  color: #222121;
}

.click-to-start {
  font-size: 30px;
  text-decoration: none;
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 1px #222121;
}

/* navigation */

.nav-bar {
  background-color: rgb(189, 195, 199);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* opacity: 0.5;
  filter: alpha(opacity=50); */
}

.link {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.link:hover {
  color: darkslategrey;
  text-decoration: none;
}

/* login page */

.login-container, .signup-container {
  background-image: url(./drawing.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;
}

.login-form-container, .signup-form-container {
  background-color: rgba(255, 255, 255, 0.844);
  padding: 50px 50px 50px;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  border-radius: 10px;
}

.login-form input, .signup-form input {
  height: 30px;
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 15px; 
  outline: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
}

.login-form button, .signup-form button {
  height: 35px;
  width: 65px;
  padding: 5px;
  margin-left: 20px;
  border: none;
  border-radius: 15px; 
  outline: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: #333333;
  color: white;
}

.logout-button {
  height: 35px;
  width: 65px;
  margin-top: 20px;
  padding: 5px;
  border: none;
  border-radius: 15px; 
  outline: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background-color: #333333;
  color: white;
}

.login-question, .signup-question {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

/* dashboard */

.modal {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.dashboard-page {
  height: 100vh;
}

#dashboard-map {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: unset;
}

.add-hike-button {
  z-index: 1000;
  position: absolute;
  padding: 15px;
  width: 200px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(180, 222, 174);
  font-family: 'Montserrat', sans-serif;
  color: darkslategrey;
  border-radius: 5px;
}

.add-hike-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
}

#form-dialog-title {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
}

.title-input {
  margin: 10px;
  height: 25px;
}

.image-input {
  margin: 10px;
  height: 25px;
}

.description-input {
  height: 150px;
  margin: 10px
}

.select-box {
  margin: 10px;
  height: 25px;
}

/* add hike */

.add-hike-container {
  background-image: url(./drawing.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;  
  align-items: center;  
  justify-content: center;
}
